/* :root {
  --s: 2px;
  --m: 12px;
  --l: 24px;
} */

:root {
  --coef: calc((1vw + 1vh) / 2);

  --s: calc(0.2 * var(--coef));
  --m: calc(1.2 * var(--coef));
  --l: calc(2.4 * var(--coef));

  --color1: rgb(0,0,0);
  --color2: rgb(255,255,255);

  background-color: var(--color2);
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

section#main {
  width: calc(100vw - 500px);
  height: calc(100vh - 500px);
  margin: 250px;
  position: relative;
  display: flex;
  gap: calc(2 * var(--coef));
  flex-direction:column;
}

.sub-container {
  flex: 1 1 100%;
  display: flex;
  gap: calc(1 * var(--coef));
}