/* :root {
  --s: 2px;
  --m: 12px;
  --l: 24px;
} */

:root {
  --s: 0.2vw;
  --m: 1.2vw;
  --l: 2.4vw;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

section#main {
  width: calc(100vw - 200px);
  height: calc(100vh - 200px);
  margin: 100px;
  position: relative;
  display: flex;
  gap: 3%;
  flex-direction:column;
}

.sub-container {
  flex: 1 1 100%;
  display: flex;
  gap: 3%;
}